# Sample mkgmap option file to create a map for a GARMIN GPS and compatible PC Programs
#
# The options given here are a reasonable set for generating a routable map, but you
# will probably need to copy this file into your working environment and adapt it by
# fixing paths, adjusting options etc.
#
# Generally, where the default value for an option as acceptable, it isn't specified here.
# Please see the standard help information for details of what the options do.
#
# Typical command line invocation, after using the splitter to generate a set of tiles:
#> java -jar mkgmap-rel/mkgmap.jar -c mkgmap-rel/examples/sample.cfg -c template.args mkgmap-rel/examples/typ-files/mkgmap.txt
#

family-name: Czech
series-name: MTB
draw-priority: 18

transparent
max-jobs
add-pois-to-areas
link-pois-to-ways
process-destination
process-exits
code-page=1250
remove-ovm-work-files

